body {
    background: url(../images/blue.jpg)repeat;
    position: relative;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

p {
    font-size: 18px;
    color: white;
}

#game {
    padding: 50px;
    margin: 10px;
}

